<!-- Form -->

<form method = "post">

  <label for="from">From</label>
  <input type ="text" id= "from" name = "from" ><br>
  <label for="to">To</label>
  <input type ="text" id = "to" name = "to" ><br>
  <button type="submit" value="Submit">

</form>  