<!-- Game -->
<div id="game" class="row">
  <div class="col-xs-12">
    
    <header class="page-header text-center">
      <h1>
        <a href="/">
          Tower Of Hanoi
        </a>
      </h1>
    </header>

    <h1> <%= error_msg %> </h1>

    <div class="towers row well"></div>
    <%= erb :tower, :locals => {:tower => tower.towers} %><!-- towers -->

      <div class="form row">
        <div class="col-xs-6 col-xs-offset-3"></div>
      </div>
      <%= erb :form %><!-- form -->

  </div>
</div>

<%= erb :tower, :locals => {:tower => tower.towers, :tower_number => tower.towers.length} %>
<!-- game -->

